.upload {
  width: 55%;
  height: auto;
  padding: 25px;
  background-color: var(--bgColor);

  border-radius: 10px;
  margin: 35px 4%;
}

input[type="radio"] {
  margin: 5px;
}
label {
  margin-right: 10px;
}

input[type="text"],
input[type="number"] {
  padding: 10px;
}

input[type="text"] {
  width: 52%;
}
input[type="date"],
input[type="number"] {
  width: 22.6%;
}
input[type="date"] {
  padding: 9px 10px;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  padding: 10px;
}

h3 {
  padding: 10px 0;
}

input[type="submit"] {
  padding: 10px 15px;
  margin-top: 15px;
  /* background-color: var(--defaultColor2); */
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: var(--defaultColor2);
  color: var(--whiteColor);
}
