.img-post {
  width: 25%;
}

iframe {
  border-radius: 15px;
}

input {
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 50px;
}

.edit {
  padding: 10px;
  border: solid 2px var(--defaultColor2);
}

.delete {
  cursor: pointer;
  padding: 10px;
  border: solid 2px red;
}
